:root{
  --primary-color: #222;
  --scondary-color: white;
  --terciary-color: #007ced;
}

*{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--scondary-color);
}

body{
  width: 100%;
  padding: 0 0;
  left: 0;
  right: 0;
  margin: 0 0;
  background-color: var(--primary-color);
  font-size: 16px;
}
header{
    height: 15%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  #welcome-section{
    padding-top: 10%;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
  }
  #Habilidades{
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
  }
  #projects{
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    padding-top: 5%;
  }
  .self{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: var(--primary-color);
  }
  #navbar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color); 
  }

  nav a{
    color: var(--scondary-color);
    text-decoration: none;
  }
  nav a:hover{
    color: var(--terciary-color);
  }
  .img{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
  }
  #eu{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid var(--terciary-color);
  }
  .intro{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
  }
  .name{
    color: var(--terciary-color);
    font-size: 3rem;
    font-style: bold;
  }
  .job{
    color: var(--terciary-color);
    font-size: 35px;
  }
  .function{
    font-style: bold;
    font-size: 35px;
  }
  .text-intro{
    text-align: center;
    font-size: 16px;
  }
  .socials{
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .socials a{
    position: relative;
    display: inline-flex;
    width: 35px;
    height: 35px;
    background: transparent;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
    background-color: var(--terciary-color);
    color: var(--terciary-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
  }
  .socials a:hover{
    background: var(--primary-color);
  }
  .habilidades{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;
    font-size: 20px;
  }
  .hl{
    height: 10%;
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
  }
  .skills{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .skills a{
    font-size: 35px;
    text-decoration: none;
    background: transparent;
    overflow: hidden;
    transition: .5s;
  }
  .skill-name{
    padding: 0 20px;
    color: var(--scondary-color);
  }
  .tech{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: linear-gradient(90deg, var(--terciary-color), var(--primary-color));
    border-radius: 10% 0% 0% 10%;
  }
  .tech a{
    margin: 2% 0;
  }
  .tech a:hover{
    background: var(--primary-color);
  }
  .soft{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background: linear-gradient(90deg, var(--primary-color), var(--terciary-color));
    border-radius: 0% 10% 10% 0%;
  }
  .soft a{
    margin: 2% 0;
  }
  .soft a:hover{
    background: var(--primary-color);
  }
  .projects-head{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: 2%;
  }
  .projects-grid{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding-top: 5%;
  }
  .proj{
    height: 100%;
    width: 30%;
    background-color: var(--scondary-color);
    border-radius: 5%;
  }
  .project-tile{
    width: 100%;
    height: 100%;
    border-radius: 5%;
  }
  .proj a{
    text-align: center;
    text-decoration: none;
  }
  .proj p{
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
  }
  @media screen and (max-width: 768px) {
    #welcome-section{
      padding-top: 35%;
      height: 100%;
    }
    body{
      box-sizing: border-box;
      font-size: 14px;
    }
    header{
      position: absolute;
    }
    .self{
      flex-direction: column-reverse;
    }
    .name{
      font-size: 2.2rem;
    }
    .intro{
      width: 95%;
    }
    .img{
      width: 100%;
      height: 100%;
    }
    .socials{
      width: 50%;
    }
    .job{
      font-size: 1.8rem;
    }
    .function{
      font-size: 1.8rem;
    }
    .skills a{
      font-size: 17px;
    }
    .skills{
      width: 90%;
      height: 100%;
    }
    .tech a{
      margin: 5% 0;
    }
    .soft a{
      margin: 5% 0;
    }
    .habilidades{
      padding-top: 30%;
      padding-bottom: 30%;
      width: 100%;
    }
    .hl{
      padding-bottom: 10%;
    }
    .projects-head{
      padding-bottom: 5%;
    }
    .projects-grid{
      flex-direction: column;
    }
    .proj{
      margin-bottom: 35%;
      width: 90%;
      height: 100%;
    }
  }
  
  