:root{
  --primary-color: #222;
  --scondary-color: white;
  --terciary-color: #007ced;
}

*{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--scondary-color);
}

body{
  width: 100%;
  padding: 0 0;
  left: 0;
  right: 0;
  margin: 0 0;
  background-color: var(--primary-color);
  font-size: 16px;
}
header{
    height: 15%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  #welcome-section{
    padding-top: 10%;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
  }
  #Habilidades{
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, var(--primary-color), var(--terciary-color), var(--primary-color));
  }
  #projects{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding-top: 5%;
  }
  .self{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: var(--primary-color);
  }
  #navbar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color); 
  }

  nav a{
    transition: all 500ms ease;
    color: var(--scondary-color);
    text-decoration: none;
  }
  nav a:hover{
    color: var(--terciary-color);
  }
  .img{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    animation: appear 4s forwards ease;
  }
  #eu{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid var(--terciary-color);
  }
  .intro{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    animation: chegar 3s forwards ease;
  }
  .name{
    color: var(--terciary-color);
    font-size: 3rem;
    font-style: bold;
  }
  .job{
    color: var(--terciary-color);
    font-size: 35px;
  }
  .function{
    font-style: bold;
    font-size: 35px;
  }
  .text-intro{
    text-align: center;
    font-size: 16px;
  }
  .socials{
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .socials a{
    position: relative;
    display: inline-flex;
    width: 35px;
    height: 35px;
    background: transparent;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
    background-color: var(--terciary-color);
    color: var(--terciary-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
  }
  .socials a:hover{
    background: var(--primary-color);
  }
  .habilidades{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 6%;
    font-size: 20px;
  }
  .hl{
    height: 10%;
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
  }
  .skills{
    height: 65%;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-color);
    border-radius: 24px;
  }
  .skills a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-decoration: none;
    background: transparent;
    overflow: hidden;
    transition: .5s;
    border: 1px solid var(--terciary-color);
    border-radius: 12px;
    padding: 0.5rem;
    & img{
      width: 35px;
    }
  }
  .skills a:hover{
    transform: translateY(-10px);
  }
  .skill-name{
    padding: 0 20px;
    color: var(--scondary-color);
  }
  .projects-head{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: 2%;
  }
  .projects-grid{
    height: 75%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 5rem;
    padding-block: 5%;
  }
  .proj{
    height: 400px;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    border: 2px solid var(--terciary-color);
    border-radius: 5%;
    transition: all 250ms ease;
  }
  .proj:hover{
    transform: translateY(-10px);
  }
  .project-img{
    width: 100%;
    height: 80%;
    border-radius: 5%;
    & img{
      width: 100%;
      height: 100%;
    }
  }
  .proj a{
    text-align: center;
    text-decoration: none;
  }
  .proj p{
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    color: var(--scondary-color);
  }
  @media screen and (max-width: 768px) {
    #welcome-section{
      padding-top: 35%;
      height: 100%;
    }
    body{
      box-sizing: border-box;
      font-size: 14px;
    }
    header{
      position: absolute;
    }
    .self{
      flex-direction: column-reverse;
    }
    .name{
      font-size: 2.2rem;
    }
    .intro{
      width: 95%;
    }
    .img{
      width: 100%;
      height: 100%;
    }
    .socials{
      width: 50%;
    }
    .job{
      font-size: 1.8rem;
    }
    .function{
      font-size: 1.8rem;
    }
    .skills a{
      font-size: 17px;
    }
    .skills{
      flex-direction: column;
      width: 75%;
      height: 100%;
    }
    .habilidades{
      margin-top: 7rem;
      padding-block: 35%;
      width: 100%;
    }
    .hl{
      padding-bottom: 20%;
    }
    .projects-head{
      padding-bottom: 5%;
    }
    .projects-grid{
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 2rem;
    }
    .proj{
      width: 75%;
      height: 100%;
      padding: 0.5rem;
    }
    .proj p{
      margin-top: 0.5rem;
    }
    .project-tile{
      width: 100%;
      height: 80%;
    }
  }
  
  

@keyframes appear {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
}

@keyframes chegar{
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0px);
  }
}